<div class="footer">
    <div class="container text-center">
        &copy; 2017 Yusril Herlian Syah.
    </div>
</div>
<script type="text/javascript" src="/assets/libs/headroom.js/headroom.min.js"></script>
<script type="text/javascript" src="/assets/libs/progressbar.js/progressbar.min.js"></script>
<script type="text/javascript" src="/assets/libs/scrolltrigger/ScrollTrigger.min.js"></script>
<script type="text/javascript" src="/assets/libs/zenscroll/zenscroll.min.js"></script>
<script type="text/javascript" src="/assets/js/script.js"></script>
