<div class="navbar navbar--fixed navbar--white" id="navbar">
    <div class="container">
        <a href="/" class="navbar-item--left">Yusril Herlian Syah</a>
        <a href="#" class="navicon" data-target-id="nav-items">
            <span class="fa fa-bars"></span>
        </a>
        <ul class="nav-items navbar-item--right" id="nav-items">
            <li><a href="/#about">About</a></li>
            <li><a href="/#works">Latest Work</a></li>
            <li><a href="/#me">Find Me</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </div>
</div>
