$primary-color: #4E66F9;

$base-font-size: 100% !default;
$base-font-color: #333333 !default;
$base-font-family: 'Montserrat', Arial, sans-serif;
$base-font-family-serif: 'Crete Round', serif;

$container-width: 1200px !default;
$container-gutter: 15px !default;

$navbar-height: 60px !default;
$navbar-bg-color: #191919 !default;
$navbar-font-color: #A4A4A4 !default;

$nav-item-gutter: 25px !default;

$jumbotron-bg-color: #191919 !default;
$jumbotron-font-color: lighten(#A4A4A4, 15%);
